#resturants, #bars, #shopping, #favorites, #ozen { 
	background: url('../images/red_stripes.png');	
}

#buzzlogo {
	display: block;
	margin: 0 auto;	
	margin-bottom: -40px;
	margin-top: -30px;	
}

#home div p {
	text-align:center;
	font-style: italic;		
}

.ui-block-a h3 {
	text-align: center;
}
#resturantList h3 {
	text-align: center;
}
